[Unit]
Description=ledticker
After=multi-user.target

[Service]
ExecStart=/home/pi/projects/ledticker-pi/venv/bin/python -u /home/pi/projects/ledticker-pi/ticker.py --log DEBUG --config /home/pi/projects/ledticker-pi/config.yaml
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ledticker
Restart=always
User=root

[Install]
WantedBy=multi-user.target
